</head>
<body>
  <nav>
		<!-- <i class="fas fa-film fa-2x"></i>   -->
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      Add Flight
    </a>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      All Flights
    </a>
    <a 
      href="/meals/new" <%- title === 'Add Meals' ? 'class="active"' : '' %>
    >
      Add Meals
    </a>
  </nav>